@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 96%;
  --foreground: 0 0% 20%;
  --card: 356 50% 100%;
  --card-foreground: 356 5% 15%;
  --popover: 356 100% 100%;
  --popover-foreground: 356 100% 10%;
  --primary: 356 83% 51.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 318 30% 95%;
  --muted-foreground: 225 8% 53%;
  --accent: 318 30% 90%;
  --accent-foreground: 356 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 356 5% 100%;
  --border: 356 30% 82%;
  --input: 356 30% 50%;
  --ring: 356 83% 51.6%;
  --radius: 0.75rem;
}

.dark {
  --background: 356 50% 10%;
  --foreground: 356 5% 100%;
  --card: 356 50% 10%;
  --card-foreground: 356 5% 100%;
  --popover: 356 50% 5%;
  --popover-foreground: 356 5% 100%;
  --primary: 356 83% 51.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 318 30% 25%;
  --muted-foreground: 225 8% 53%;
  --accent: 318 30% 25%;
  --accent-foreground: 356 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 356 5% 100%;
  --border: 356 30% 50%;
  --input: 356 30% 50%;
  --ring: 356 83% 51.6%;
  --radius: 0.75rem;
}

.react-transform-component,
.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.Toastify__toast-container {
  width: fit-content !important;
}

.shadow-button {
  box-shadow: 7px 7px 0px #000;
}

.swiper .swiper-button-prev, .swiper-button-next {
  background: white;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

.swiper .swiper-button-prev::after, .swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}

@layer base {
  * {
    @apply box-border;
  }

  ::selection {
    @apply bg-black text-white;
  }

  body {
    @apply bg-white overflow-x-hidden text-foreground antialiased;
  }

  body::-webkit-scrollbar {
    @apply w-[10px] h-[8px];
  }

  body::-webkit-scrollbar-track {
    @apply bg-[#F5F5F5];
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-[#E9E9E9];
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-[#DDD];
  }

  a, button {
    @apply outline-none focus-visible:border-none focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-ring focus-visible:ring-offset-0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[3px] h-[8px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#F5F5F5] rounded-lg;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#E9E9E9] rounded-lg;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#DDD];
  }

  .swiper .swiper-button-prev, .swiper-button-next {
    @apply !bg-white !w-12 !h-12 !rounded-full ;
  }
}